.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: blueviolet;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.bg_image{
	height: 7rem;
	width: 34rem;
}

.bg_image img{
	height: 100%;
	width:100%;
}